# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# User-specific
xcuserdata/
*.xcuserdatad/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods (if added later)
Pods/
